In [1]:
import numpy as np
import pandas as pd
import tsfresh

In [44]:
#Read test set
df = pd.read_csv("data1/1.csv", header = 1 )

In [45]:
df.columns=['x','y','z','ElapsedTime','LoopTime']
df.head()

      x     y      z  ElapsedTime  LoopTime
0  0.08  0.04 -10.04         0.01     0.012
1  0.16 -0.31  -9.65         0.02     0.012
2 -0.08  0.04  -9.61         0.04     0.012
3  0.04  0.04  -9.85         0.05     0.014
4  0.12  0.24 -10.12         0.06     0.012

In [46]:
df = df.drop(['LoopTime'], axis = 1)

In [47]:
df_base = df.iloc[1500:19500]
df_xp1 = df.iloc[28000:45000]
df_xn1 = df.iloc[55000:73000]
df_yp1 = df.iloc[81000:99500]
df_yn1 = df.iloc[108500:126300]

In [48]:
df_base.loc[:,'target']=1
df_xp1.loc[:,'target']=2
df_xn1.loc[:,'target']=3
df_yp1.loc[:,'target']=4
df_yn1.loc[:,'target']=5

C:\Users\USER\anaconda3\lib\site-packages\pandas\core\indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\USER\anaconda3\lib\site-packages\pandas\core\indexing.py:1783: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item_labels[indexer[info_axis]]] = value

In [49]:
df_all = pd.concat([df_base,df_xp1,df_xn1,df_yp1,df_yn1], axis=0, ignore_index=True)
df_all

          x     y      z  ElapsedTime  target
0     -0.08  0.12  -9.96        19.00       1
1      0.12  0.00  -9.81        19.01       1
2      0.08  0.24 -10.04        19.02       1
3      0.08  0.00  -9.85        19.03       1
4     -0.27  0.04  -9.85        19.05       1
...     ...   ...    ...          ...     ...
89295  0.04  0.16  -9.96      1610.74       5
89296  0.31  0.00  -9.89      1610.75       5
89297 -0.12  0.27  -9.77      1610.76       5
89298  0.20  0.12 -10.16      1610.77       5
89299  0.16  0.20 -10.04      1610.79       5

[89300 rows x 5 columns]

In [50]:
from tsfresh.utilities.dataframe_functions import add_sub_time_series_index
df_index = add_sub_time_series_index(df_all,sub_length = 180)

In [52]:
df_final = df_index[['ElapsedTime','x','y','z','id','target']]
#df_final

       ElapsedTime     x     y      z   id  target
0            19.00 -0.08  0.12  -9.96    0       1
1            19.01  0.12  0.00  -9.81    0       1
2            19.02  0.08  0.24 -10.04    0       1
3            19.03  0.08  0.00  -9.85    0       1
4            19.05 -0.27  0.04  -9.85    0       1
...            ...   ...   ...    ...  ...     ...
89295      1610.74  0.04  0.16  -9.96  496       5
89296      1610.75  0.31  0.00  -9.89  496       5
89297      1610.76 -0.12  0.27  -9.77  496       5
89298      1610.77  0.20  0.12 -10.16  496       5
89299      1610.79  0.16  0.20 -10.04  496       5

[89300 rows x 6 columns]

In [53]:
y1 = df_final.id

In [54]:
y2 = df_final.target

In [55]:
y12 = pd.concat([y1,y2],axis=1)
#y12

In [56]:
y_drop = y12.drop_duplicates()
#y_drop

        id  target
0        0       1
180      1       1
360      2       1
540      3       1
720      4       1
...    ...     ...
88560  492       5
88740  493       5
88920  494       5
89100  495       5
89280  496       5

[500 rows x 2 columns]

In [57]:
y_reset = y_drop.reset_index()
#y_reset

In [58]:
y = y_reset.drop(['index','id'], axis = 1)
#y

     target
0         1
1         1
2         1
3         1
4         1
..      ...
495       5
496       5
497       5
498       5
499       5

[500 rows x 1 columns]

In [59]:
df_final.drop( 'target', axis = 1, inplace = True )
#df_final

C:\Users\USER\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

       ElapsedTime     x     y      z   id
0            19.00 -0.08  0.12  -9.96    0
1            19.01  0.12  0.00  -9.81    0
2            19.02  0.08  0.24 -10.04    0
3            19.03  0.08  0.00  -9.85    0
4            19.05 -0.27  0.04  -9.85    0
...            ...   ...   ...    ...  ...
89295      1610.74  0.04  0.16  -9.96  496
89296      1610.75  0.31  0.00  -9.89  496
89297      1610.76 -0.12  0.27  -9.77  496
89298      1610.77  0.20  0.12 -10.16  496
89299      1610.79  0.16  0.20 -10.04  496

[89300 rows x 5 columns]

In [61]:
from tsfresh import extract_features
df_features = extract_features(df_final, column_id="id",column_sort="ElapsedTime")

Feature Extraction: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [02:09<00:00, 12.94s/it]

In [62]:
from tsfresh.utilities.dataframe_functions import impute
impute( df_features )
assert df_features.isnull().sum().sum() == 0

C:\Users\USER\anaconda3\lib\site-packages\tsfresh\utilities\dataframe_functions.py:171: RuntimeWarning: The columns ['x__fft_coefficient__attr_"real"__coeff_91'
 'x__fft_coefficient__attr_"real"__coeff_92'
 'x__fft_coefficient__attr_"real"__coeff_93'
 'x__fft_coefficient__attr_"real"__coeff_94'
 'x__fft_coefficient__attr_"real"__coeff_95'
 'x__fft_coefficient__attr_"real"__coeff_96'
 'x__fft_coefficient__attr_"real"__coeff_97'
 'x__fft_coefficient__attr_"real"__coeff_98'
 'x__fft_coefficient__attr_"real"__coeff_99'
 'x__fft_coefficient__attr_"imag"__coeff_91'
 'x__fft_coefficient__attr_"imag"__coeff_92'
 'x__fft_coefficient__attr_"imag"__coeff_93'
 'x__fft_coefficient__attr_"imag"__coeff_94'
 'x__fft_coefficient__attr_"imag"__coeff_95'
 'x__fft_coefficient__attr_"imag"__coeff_96'
 'x__fft_coefficient__attr_"imag"__coeff_97'
 'x__fft_coefficient__attr_"imag"__coeff_98'
 'x__fft_coefficient__attr_"imag"__coeff_99'
 'x__fft_coefficient__attr_"abs"__coeff_91'
 'x__fft_coefficient__attr_"abs"__coeff_92'
 'x__fft_coefficient__attr_"abs"__coeff_93'
 'x__fft_coefficient__attr_"abs"__coeff_94'
 'x__fft_coefficient__attr_"abs"__coeff_95'
 'x__fft_coefficient__attr_"abs"__coeff_96'
 'x__fft_coefficient__attr_"abs"__coeff_97'
 'x__fft_coefficient__attr_"abs"__coeff_98'
 'x__fft_coefficient__attr_"abs"__coeff_99'
 'x__fft_coefficient__attr_"angle"__coeff_91'
 'x__fft_coefficient__attr_"angle"__coeff_92'
 'x__fft_coefficient__attr_"angle"__coeff_93'
 'x__fft_coefficient__attr_"angle"__coeff_94'
 'x__fft_coefficient__attr_"angle"__coeff_95'
 'x__fft_coefficient__attr_"angle"__coeff_96'
 'x__fft_coefficient__attr_"angle"__coeff_97'
 'x__fft_coefficient__attr_"angle"__coeff_98'
 'x__fft_coefficient__attr_"angle"__coeff_99'
 'x__friedrich_coefficients__coeff_0__m_3__r_30'
 'x__friedrich_coefficients__coeff_1__m_3__r_30'
 'x__friedrich_coefficients__coeff_2__m_3__r_30'
 'x__friedrich_coefficients__coeff_3__m_3__r_30'
 'x__max_langevin_fixed_point__m_3__r_30'
 'y__fft_coefficient__attr_"real"__coeff_91'
 'y__fft_coefficient__attr_"real"__coeff_92'
 'y__fft_coefficient__attr_"real"__coeff_93'
 'y__fft_coefficient__attr_"real"__coeff_94'
 'y__fft_coefficient__attr_"real"__coeff_95'
 'y__fft_coefficient__attr_"real"__coeff_96'
 'y__fft_coefficient__attr_"real"__coeff_97'
 'y__fft_coefficient__attr_"real"__coeff_98'
 'y__fft_coefficient__attr_"real"__coeff_99'
 'y__fft_coefficient__attr_"imag"__coeff_91'
 'y__fft_coefficient__attr_"imag"__coeff_92'
 'y__fft_coefficient__attr_"imag"__coeff_93'
 'y__fft_coefficient__attr_"imag"__coeff_94'
 'y__fft_coefficient__attr_"imag"__coeff_95'
 'y__fft_coefficient__attr_"imag"__coeff_96'
 'y__fft_coefficient__attr_"imag"__coeff_97'
 'y__fft_coefficient__attr_"imag"__coeff_98'
 'y__fft_coefficient__attr_"imag"__coeff_99'
 'y__fft_coefficient__attr_"abs"__coeff_91'
 'y__fft_coefficient__attr_"abs"__coeff_92'
 'y__fft_coefficient__attr_"abs"__coeff_93'
 'y__fft_coefficient__attr_"abs"__coeff_94'
 'y__fft_coefficient__attr_"abs"__coeff_95'
 'y__fft_coefficient__attr_"abs"__coeff_96'
 'y__fft_coefficient__attr_"abs"__coeff_97'
 'y__fft_coefficient__attr_"abs"__coeff_98'
 'y__fft_coefficient__attr_"abs"__coeff_99'
 'y__fft_coefficient__attr_"angle"__coeff_91'
 'y__fft_coefficient__attr_"angle"__coeff_92'
 'y__fft_coefficient__attr_"angle"__coeff_93'
 'y__fft_coefficient__attr_"angle"__coeff_94'
 'y__fft_coefficient__attr_"angle"__coeff_95'
 'y__fft_coefficient__attr_"angle"__coeff_96'
 'y__fft_coefficient__attr_"angle"__coeff_97'
 'y__fft_coefficient__attr_"angle"__coeff_98'
 'y__fft_coefficient__attr_"angle"__coeff_99'
 'y__friedrich_coefficients__coeff_0__m_3__r_30'
 'y__friedrich_coefficients__coeff_1__m_3__r_30'
 'y__friedrich_coefficients__coeff_2__m_3__r_30'
 'y__friedrich_coefficients__coeff_3__m_3__r_30'
 'y__max_langevin_fixed_point__m_3__r_30'
 'z__fft_coefficient__attr_"real"__coeff_91'
 'z__fft_coefficient__attr_"real"__coeff_92'
 'z__fft_coefficient__attr_"real"__coeff_93'
 'z__fft_coefficient__attr_"real"__coeff_94'
 'z__fft_coefficient__attr_"real"__coeff_95'
 'z__fft_coefficient__attr_"real"__coeff_96'
 'z__fft_coefficient__attr_"real"__coeff_97'
 'z__fft_coefficient__attr_"real"__coeff_98'
 'z__fft_coefficient__attr_"real"__coeff_99'
 'z__fft_coefficient__attr_"imag"__coeff_91'
 'z__fft_coefficient__attr_"imag"__coeff_92'
 'z__fft_coefficient__attr_"imag"__coeff_93'
 'z__fft_coefficient__attr_"imag"__coeff_94'
 'z__fft_coefficient__attr_"imag"__coeff_95'
 'z__fft_coefficient__attr_"imag"__coeff_96'
 'z__fft_coefficient__attr_"imag"__coeff_97'
 'z__fft_coefficient__attr_"imag"__coeff_98'
 'z__fft_coefficient__attr_"imag"__coeff_99'
 'z__fft_coefficient__attr_"abs"__coeff_91'
 'z__fft_coefficient__attr_"abs"__coeff_92'
 'z__fft_coefficient__attr_"abs"__coeff_93'
 'z__fft_coefficient__attr_"abs"__coeff_94'
 'z__fft_coefficient__attr_"abs"__coeff_95'
 'z__fft_coefficient__attr_"abs"__coeff_96'
 'z__fft_coefficient__attr_"abs"__coeff_97'
 'z__fft_coefficient__attr_"abs"__coeff_98'
 'z__fft_coefficient__attr_"abs"__coeff_99'
 'z__fft_coefficient__attr_"angle"__coeff_91'
 'z__fft_coefficient__attr_"angle"__coeff_92'
 'z__fft_coefficient__attr_"angle"__coeff_93'
 'z__fft_coefficient__attr_"angle"__coeff_94'
 'z__fft_coefficient__attr_"angle"__coeff_95'
 'z__fft_coefficient__attr_"angle"__coeff_96'
 'z__fft_coefficient__attr_"angle"__coeff_97'
 'z__fft_coefficient__attr_"angle"__coeff_98'
 'z__fft_coefficient__attr_"angle"__coeff_99'] did not have any finite values. Filling with zeros.
  warnings.warn("The columns {} did not have any finite values. Filling with zeros.".format(

In [63]:
df_features['y'] = y

In [65]:
df_features.to_csv('data1/1/1_features.csv', header = True , index = None)